body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2; /* Light gray background */
}
h1 {
  color: #2ecc71;
  text-transform: uppercase;
}

.login-container {
  text-align: center;
  padding: 100px;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Simple box shadow */
}

input {
  width: 80%;
  max-width: 300px; /* Limit the maximum width of the input */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.login-button,
.new-user-button,
.like-button,
.dislike-button {
  width: 100%; /* Make all buttons the same width */
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button,
.new-user-button {
  background-color: #2ecc71; /* Green button background */
  color: #fff; /* White text color */
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 100px;
  background-color: #2ecc71; /* Green popup background */
  color: #fff; /* White text color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Simple box shadow */
}

.like-button,
.dislike-button {
  background-color: #ffffff; /* White button background */
  color: #2ecc71; /* Green text color */
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  input {
    width: 100%;
  }
}
